@model List<Alumno>

@{
    ViewData["Title"] = "Informacion Alumno";
    Layout = "Simple";

}
<h1>@ViewData["Title"]</h1>
<table>
    <thead class="table table-dark table-hover">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var alumno in @Model)
    {
        <tr>
            <td>@alumno.Id</td>
            <td>@alumno.Nombre</td>
        </tr>
    }
    </tbody>
</table>

